<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>home</title>
</head>
<body>

{{ time }}


<form method="POST">
	<input type="input" name="email" placeholder="email">
	<input type="input" name="password" placeholder="password">
	<input type="input" name="name" placeholder="name">
	<input type="submit" name="rsubmit" value="Register">
	<input type="submit" name="login" value="login">	
</form>

</body>
</html>